/* title bar /title/timer */
#time,#timer{
    display: inline-block;
}
#toptitle{
    color: rgb(128, 45, 206);
    display: inline-block;
}
/* quiz content  */
.quiztitle{
    margin-top: 20px; 
}
#requestandscore{
    text-align: center;
}
#initialsbar{
    margin-top: 20px;
}
/* footer hr/message*/
#hr,#footermessage{
    visibility: hidden;
}
/* initials form */

#intialsinput ,#initials{
    display: inline;
    visibility: hidden;
}

/* control buttons */
#startbutton{
   margin-left: 70px;
}
#submit{
    display: inline-block;
    visibility: hidden;
}
.answersbtn{
    display: list-item;
    box-sizing: border-box;
    width: auto;
    visibility: hidden;
}
#goback{
    margin-left: 25px;
    visibility: hidden;
}  
#clearhighscores{
    visibility: hidden;
    margin-left: 5px;
}
/* buttons style */
button{
    color: white;
    background-color: rgb(118, 45, 185);
}
button:hover{
    opacity:80%;
  
} 
button:hover::before{
    border-color: blue;
    border-width: 2px;
}
/* media queries breakpoints */
@media screen and (max-width: 1198px) and (min-width: 992px) {
    .col-lg-4{
        min-width: 45%;
    }
    .col-lg-6{
     min-width:60% ;
    
    }
    .col-lg-3{
        min-width: 35%;
    }
   }
@media screen and (max-width: 992px) and (min-width: 770px) {
 .col-lg-4{
    max-width: 56%;
}
.col-lg-6{
 max-width:75% ;

}
.col-lg-3{
    max-width: 36%;
    }
}